@CHARSET "UTF-8";

body {
	background-color: black;
}

#ground {
	background-color: #00000000;
	position: absolute;
	top: auto;
	left: auto;
	z-index: 3;
}

#player {
	background-color: #00000000;
	position: absolute;
	top: auto;
	left: auto;
	z-index: 4;
}

#arc {
	background-color: grey;
	position: absolute;
	top: auto;
	left: auto;
	z-index: 2;
}

