@CHARSET "UTF-8";

#body {
	background-color: black;
}

#wrapper {
	background-color: yellow;
	width: 1024px;
	min-height: 800px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

#player {
	background-color: #00000000;
	position: absolute;
	top: auto;
	left: auto;
	z-index: 3;
}

#arc {
	background-color: grey;
	position: absolute;
	top: auto;
	left: auto;
	z-index: 2;
}


